:root {
    --primary-color: #bad9c9;
    --secondary-color: #063550;
    --tertiary-color: #E6B89C;  
    --fourth-color:
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }
  

body  {
    background-color: var(--tertiary-color) ;
}

/* Header start */
header {
    padding: 10px 0 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--secondary-color);
    /* color: #ffffff; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

.header-box {
   background-color: var(--primary-color); 
   display: flex;
   font-size: 17px;
}

.avatar {
    vertical-align: middle;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 75px;
    display: flex;
  }

header h1 {
    color: var(--secondary-color);
    padding: 3px 9px 3px 11px
}

header nav {
    padding-top: 2vh;
    margin-right: 8%;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
    border-bottom: var(--primary-color) solid 2px;
    padding: 0 8px 3px 8px;
    color: var(--primary-color);
    background-size: 200% 200%;
    transition: background-position 0.5s;
}

.box1, .box2, .box3, .box4 {
    background-image: linear-gradient(to top, var(--primary-color) 50%, #063550 0%);
    background-position: top;  
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    background-position: bottom;
}

.box1:hover > .box1-a, .box2:hover > .box2-a, .box3:hover > .box3-a, .box4:hover > .box4-a {
    color: var(--secondary-color);
}

header nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}
/* Header end */  

/* Hero image start*/
.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 40px;
    background-image: url("../images/bright-leaves.jpg");
    background-size: cover;
    background-position: bottom;
    opacity: 95%;
    display: flex;
    justify-content: end;
    align-items: flex-end
}

.subtitle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 2.5px 9.5px;
    margin-right: 8%;
    margin-bottom: 20px;
}
/* Hero image end */

/* About Me, Work, and Contact Me sections start */
.primary-container {
    max-width: 80%;
    margin-left: 12%;
    margin-right: 8%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.about-me-header-container, .work-header-container, .contact-me-header-container {
    align-items: stretch;
    border-right: 2px solid var(--secondary-color);
    flex-basis: 14%;
    display: flex;
    justify-content: flex-end;
}

.about-me-header, .work-header, .contact-me-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: var(--secondary-color);
    text-align: right;
    padding-right: 15px;
    width: min-content; 
}

.about-me-para-container, .projects-container, .contact-details-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 83%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-me-para {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-wrap: wrap;
    color: black;
}

.weather-container {
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    margin-bottom: 10px;
    text-decoration: none;
}

.weather-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/background.jpg");
    background-position: left bottom 50%;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.80;
}

.weather-container:hover {
    height: 250px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    background-image: url("../images/background.jpg");
    background-position: left bottom 50%;
    background-size: cover;
}

.movie-mate-container {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-right: 5px;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    margin-bottom: 10px;
    text-decoration: none;
}

.movie-mate-container::before {
    content: '';
    position: absolute;
    background-image: url("../images//background-image.webp");
    background-position: top;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
}

.movie-mate-container:hover {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-right: 5px;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    background-image: url("../images/background-image.webp");
    background-position: top;
    background-size: cover;
}

.password-container {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-left: 5px;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    margin-bottom: 10px;
    text-decoration: none;
}

.password-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/password.jpg");
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.80;
}

.password-container:hover {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-left: 5px;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    background-image: url("../images/password.jpg");
    background-position: center;
    background-size: cover;
}

.taskmaster-pro-container {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-right: 5px;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    text-decoration: none;
}

.taskmaster-pro-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/business-g65fd0d89f_1920.jpg");
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.80;
}

.taskmaster-pro-container:hover {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-right: 5px;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    background-image: url("../images/business-g65fd0d89f_1920.jpg");
    background-position: center;
    background-size: cover;
    text-decoration: none;
}

.scheduler-container {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-left: 5px;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    text-decoration: none;
}

.scheduler-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/scheduler.jpg");
    background-position: center 30%;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.80;
}

.scheduler-container:hover {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-left: 5px;
    align-items: flex-end;
    border: 3px solid var(--primary-color);
    background-image: url("../images/scheduler.jpg");
    background-position: center 30%;
    background-size: cover;
    text-decoration: none;
}

.weather-text, .movie-mate-text, .password-text, .taskmaster-pro-text, .scheduler-text {
    background-color: var(--primary-color); 
    position: relative;
    color: var(--secondary-color);
    padding: 6px 8px;
    margin-bottom: 15px;
}

.weather-text h4, .movie-mate-text h4, .password-text h4, .taskmaster-pro-text h4, .scheduler-text h4 {
    font-weight: lighter;
    font-size: smaller;
}

.contact-details-container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.contact-details-list li {
    padding-bottom: 3px;
    border-bottom: var(--secondary-color) solid 2px;
}

.contact-details-list li a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* MEDIA QUERY - This will be applied to any screen between 1519px and 1234px */
@media screen and (max-width: 1519px) {

    .weather-container {
      margin-bottom: 9px;
  }
  
  .movie-mate-container, .taskmaster-pro-container {
      margin-right: 4px;
      width: 49.5%;
  }
  
  .movie-mate-container:hover, .taskmaster-pro-container:hover {
      margin-right: 4px;
      width: 49.5%;
  }
  
  .scheduler-container, .password-container {
      margin-left: 4px;
      width: 49.5%;
  }
  
  .scheduler-container:hover, .password-container:hover {
      margin-left: 4px;
      width: 49.5%;
  }
}


/* MEDIA QUERY - This will be applied to any screen between 1234px and 965px */
@media screen and (max-width: 1234px) {

      .weather-container {
        margin-bottom: 9px;
    }
    
    .movie-mate-container, .taskmaster-pro-container {
        margin-right: 3.8px;
        width: 49.4%;
    }
    
    .movie-mate-container:hover, .taskmaster-pro-container:hover  {
        margin-right: 3.8px;
        width: 49.4%;
    }
    
    .scheduler-container, .password-container {
        margin-left: 3.8px;
        width: 49.4%;
    }
    
    .scheduler-container:hover, .password-container:hover {
        margin-left: 3.8px;
        width: 49.4%;
    }
}

/* This will be applied to any screen between 965px and 903px */
@media screen and (max-width: 965px) {
    
    .about-me-header, .work-header, .contact-me-header {
        font-size: 20px;
    }

    .header-box {
        font-size: 15px;
     }

     .avatar {
        width: 37px;
        height: 37px;
      }
      
      .subtitle {
        font-size: 14px;
        padding: 2px 9px;
    }

    .about-me-para {
        font-size: 15px;
        line-height: 1.4;
    }

    .contact-details-container {
        font-size: 15px;
    }

    .taskmaster-pro-container::before {
        background-position: left;
    }
    
    .taskmaster-pro-container:hover {
        background-position: left;
    }

    .movie-mate-container, .taskmaster-pro-container {
        margin-right: 4px;
        width: 49.2%;
    }
    
    .movie-mate-container:hover, .taskmaster-pro-container:hover {
        margin-right: 4px;
        width: 49.2%;
    }

    .scheduler-container, .password-container {
        margin-left: 4px;
        width: 49.2%;
    }
    
    .scheduler-container:hover, .password-container:hover {
        margin-left: 4px;
        width: 49.2%;
    }
}

/* This will be applied to any screen between 840px and 752px */
@media screen and (max-width: 840px) {

    .about-me-header, .work-header, .contact-me-header {
        font-size: 19px;
    }

    header nav {
        font-size: 18px;
    }

    .weather-container, .movie-mate-container, .password-container {
        margin-bottom: 8px;
    }

    .movie-mate-container, .taskmaster-pro-container {
        margin-right: 3.7px;
        width: 49.2%;
    }
    
    .movie-mate-container:hover, .taskmaster-pro-container:hover {
        margin-right: 3.7px;
        width: 49.2%;
    }

    .scheduler-container, .password-container {
        margin-left: 3.7px;
        width: 49.2%;
    }
    
    .scheduler-container:hover, .password-container:hover {
        margin-left: 3.7px;
        width: 49.2%;
    }
}

/* This will be applied to any screen between 752px and 686px */
@media screen and (max-width: 752px) {

    .about-me-header, .work-header, .contact-me-header {
        font-size: 18px;
    }

    .header-box {
        font-size: 14px;
     }

     header nav {
        font-size: 17px;
    }

     .avatar {
        width: 35px;
        height: 35px;
      }
      
      .subtitle {
        font-size: 13px;
        padding: 2px 9px;
    }

    .about-me-header, .work-header, .contact-me-header {
        padding-right: 13px;
        }

    .about-me-para {
        font-size: 14px;
        line-height: 1.3;
    }

    .contact-details-container {
        font-size: 14px;
    }

    .movie-mate-container, .taskmaster-pro-container {
        margin-right: 3.7px;
        width: 49.1%;
    }
    
    .movie-mate-container:hover, .taskmaster-pro-container:hover {
        margin-right: 3.7px;
        width: 49.1%;
    }

    .scheduler-container, .password-container {
        margin-left: 3.7px;
        width: 49.1%;
    }
    
    .scheduler-container:hover, .password-container:hover {
        margin-left: 3.7px;
        width: 49.1%;
    }
    
    .weather-text, .movie-mate-text, .password-text, .taskmaster-pro-text, .scheduler-text {
        padding: 5px 7px;
        margin-bottom: 14px;
        font-size: smaller;
    }
    
    .weather-text h4, .movie-mate-text h4, .password-text h4, .taskmaster-pro-text h4, .scheduler-text h4 {
        font-weight: lighter;
        font-size: small;
    }
}

/* This will be applied to any screen between 690px and 658px */
@media screen and (max-width: 690px) {

    .about-me-header, .work-header, .contact-me-header {
        font-size: 16px;
    }

    .header-box {
        font-size: 13px;
     }

     header nav {
        font-size: 16px;
    }

     .avatar {
        width: 30px;
        height: 30px;
      }
      
      .subtitle {
        font-size: 12px;
        padding: 1px 8px;
    }

    .about-me-header, .work-header, .contact-me-header {
        padding-right: 13px;
        }

    .about-me-para {
        font-size: 13px;
        line-height: 1.3;
    }

    .movie-mate-container, .taskmaster-pro-container {
        margin-right: 3px;
        width: 49.2%;
    }
    
    .movie-mate-container:hover, .taskmaster-pro-container:hover {
        margin-right: 3px;
        width: 49.2%;
    }

    .scheduler-container, .password-container {
        margin-left: 3px;
        width: 49.2%;
    }
    
    .scheduler-container:hover, .password-container:hover {
        margin-left: 3px;
        width: 49.2%;
    }
}

/* This will be applied to any screen between 658px and 635px */
@media screen and (max-width: 658px) {
    
    header {
    padding: 0 0 8px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    }
    
    .header-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .header-box img {
    margin: 0;
    padding-bottom: 0.5px;
    width: 34px;
    height: 34px;
    }
    
    header h1 {
    padding: 2px 0 0 11px;
    font-size: 32px;
    }
    
    header nav {
    display: flex;
    padding: 17px, 0, 0, 0;
    margin: 0;
    }

    .hero {
    display: flex;
    justify-content: center;
    height: 150px;
    margin-bottom: 25px;
    }

    .subtitle {
    margin: 0 0 10px 0;
    }

    .about-me-header, .work-header, .contact-me-header {
    padding-right: 11px;
    font-size: 16px;
    }

    .weather-container {
        height: 170px;
    }
}

/* This will be applied to any screen between 635px and 500px */
@media screen and (max-width: 635px) {
    
    .about-me, .work, .contact-me {
    display: block;
    }
    
    .about-me-header-container, .work-header-container, .contact-me-header-container {
    width: 100%;
    border-right: 0;
    border-bottom: 2px solid var(--secondary-color);
    }
    
    .about-me-header, .work-header, .contact-me-header {
    width: 100%;
    padding: 0;
    margin-bottom: 4px;
    text-align: left;
    font-size: 19px;
    }

    .about-me-para-container, .projects-container, .contact-details-container {
        margin-top: 13px;
    }

    .weather-container {
        height: 150px;
    }
}

/* This will be applied to any screen below 500px */
@media screen and (max-width: 500px) {

    .projects-container {
        display: block;
    }

    .weather-container {
        height: 150px;
    }

    .weather-container:hover {
        height: 150px;
        width: 100%;
        display: flex;
    }

    .movie-mate-container, .taskmaster-pro-container {
        width: 100%;
        height: 150px;
        margin-right: 0;
    }

    .movie-mate-container:hover, .taskmaster-pro-container:hover {
        height: 150px;
        width: 100%;
        display: flex;
        margin-right: 0px;
    }

    .password-container, .scheduler-container {
        width: 100%;
        height: 150px;
        margin-left: 0;
    }

    .password-container:hover, .scheduler-container:hover {
        height: 150px;
        width: 100%;
        display: flex;
        margin-left: 0px;
    }

    .scheduler-container, .taskmaster-pro-container {
        margin-bottom: 8px;
    }

    .contact-details-container ul {
        display: block;
        width: auto;
    }

    .l1, .l2, .l3, .l4, .l5 {
        display: block;
        width: fit-content;
    }
}