* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body  {
    background-color: #EDEDF7 ;
}

/* Header start */
header {
    padding: 10px 0 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #31343C;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-box {
   background-color: #96C8CB; 
   display: flex;
   font-size: 18px;
}

.avatar {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 60px;
    display: flex;
  }

header h1 {
    color: #31343C;
    padding: 3px 9px 3px 11px
}

header nav {
    padding-top: 2vh;
    margin-right: 8%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
    border-bottom: #96C8CB solid 2px;
    padding: 0 8px 3px 8px;
    color: #96C8CB;
    background-size: 200% 200%;
    transition: background-position 0.5s;
}

.box1, .box2, .box3, .box4 {
    background-image: linear-gradient(to top, #96c8cb 50%, #32343c 0%);
    background-position: top;  
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    background-position: bottom;
}

.box1:hover > .box1-a, .box2:hover > .box2-a, .box3:hover > .box3-a, .box4:hover > .box4-a {
    color: #31343C;
}

header nav ul li a {
    color: #96C8CB;
    text-decoration: none;
}
/* Header end */

/* Hero image start*/
.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 95%;
    display: flex;
    justify-content: end;
    align-items: flex-end
}

.subtitle {
    background-color: #96C8CB;
    color: #31343C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    padding: 3px 10px;
    margin-right: 8%;
    margin-bottom: 20px;
}
/* Hero image end */

/* About me section start */
.primary-container {
    max-width: 80%;
    margin-left: 12%;
    margin-right: 8%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about-me-header-container, .work-header-container, .contact-me-header-container {
    align-items: stretch;
    border-right: 2px solid #31343C;
    flex-basis: 14%;
    display: flex;
    justify-content: flex-end;
}

.about-me-header, .work-header, .contact-me-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: #31343C;
    text-align: right;
    padding-right: 15px;
    width: min-content; 
}

.about-me-para-container, .projects-container, .contact-details-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 83%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-me-para {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    color: #31343C;
}

.surf-container {
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    margin-bottom: 8px;
}

.surf-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/surf-report.jpg");
    background-position: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
}

.surf-container:hover {
    height: 250px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    background-image: url("../images/surf-report.jpg");
    background-position: left;
}

.led-container {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-right: 4px;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    margin-bottom: 8px;
}

.led-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/led.jpg");
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
}

.led-container:hover {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-right: 4px;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    background-image: url("../images/led.jpg");
    background-position: center;
}

.calculator-container {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-left: 4px;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    margin-bottom: 8px;
}

.calculator-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/calculator.jpg");
    background-position: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
}

.calculator-container:hover {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-left: 4px;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    background-image: url("../images/calculator.jpg");
    background-position: left;
}

.ysf-container {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-right: 4px;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    text-decoration: none;
}

.ysf-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/ye-shall-find.jpg");
    background-position: left 80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
}

.ysf-container:hover {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-right: 4px;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    background-image: url("../images/ye-shall-find.jpg");
    background-position: left 80%;
    text-decoration: none;
}

.rb-container {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-left: 4px;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    text-decoration: none;
}

.rb-container::before {
    content: '';
    position: absolute;
    background-image: url("../images/run-buddy.jpg");
    background-position: right;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
}

.rb-container:hover {
    position: relative;
    height: 120px;
    width: 49.5%;
    display: flex;
    margin-left: 4px;
    align-items: flex-end;
    border: 3px solid #96C8CB;
    background-image: url("../images/run-buddy.jpg");
    background-position: right;
    text-decoration: none;
}

.surf-text, .led-text, .calculator-text, .ysf-text, .rb-text {
    background-color: #96C8CB; 
    position: relative;
    color: #31343C;
    padding: 6px 8px;
    margin-bottom: 15px;
}

.surf-text h4, .led-text h4, .calculator-text h4, .ysf-text h4, .rb-text h4 {
    font-weight: lighter;
    font-size: smaller;
}

.contact-details-container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.contact-details-list li {
    padding-bottom: 3px;
    border-bottom: #31343C solid 2px;
}

.contact-details-list li a {
    display: inline-block;
    text-decoration: none;
    color: #31343C;
}

